    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .imgtop{
        position: fixed;
        top: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: -1;
    }
    .imgbottom{
        position: fixed;
        bottom: 0px;
        right: 0px;
        opacity: 0.1;
        z-index: -1;
    }
    .question-container {
      margin-bottom: 20px;
    }
    .options-container {
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
    }
    .status {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
    .correct{
      font-weight: bold;
      color: rgb(0, 130, 0);
    }
    .incorrect{
      font-weight: bold;
      color: rgb(130, 0, 0);
    }

.heading{
    display: inline-flex;
    padding:5px;
}

.container{
    margin-top: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container div{
  position:absolute;
  width:90px;
  height:51px;
}

.logo, h1{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.perguntas , .taxa {
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.perguntas span{
    line-height: 0;
    font-size: 36pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.perguntas span:nth-of-type(2){
    font-size: 12pt;
}

.taxa {
    margin-top: 0
}

.taxa span{
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.taxa span:nth-of-type(3){
    font-size: 14pt;
}


.container div div{
    width:100%;
    height:100%;
    position:relative
}

.container div div span{
  position:absolute;
  width:5px;height:0%;
  background:#053146;z-index:999999;
}

.primeiro_hex{
    margin: 5px;
    display: block;
    position:relative;
    width:90px;
    height:90px;
}

.hexBack1{
    background-color: #053146;
}

.hexBack2{
    background-color: red;
}

.hexBack4{
    background-color: rgb(41, 124, 55);
}

.h1{left:0;
  animation: load1 12s ease infinite;
}
.h2{right:0;
  animation: load2 12s ease 1s infinite;
}
.h3{right:0;
  animation: load3 12s ease 2s infinite;
}
.h4{right:0;
  animation: load4 12s ease 3s infinite;
}
.h5{left:0;
  animation: load5 12s ease 4s infinite;
}
.h6{left:0;
  animation: load6 12s ease 5s infinite;
}

@keyframes load1 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.944444433%{top:0;height:0}

}

@keyframes load2 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.944444433%{bottom:0;height:0}

}

@keyframes load3 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.94444443%{bottom:0;height:0}

}

@keyframes load4 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.94444443%{bottom:0;height:0}

}

@keyframes load5 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.94444443%{top:0;height:0}

}

@keyframes load6 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.94444443%{top:0;height:0}

}

.timer{
    margin: 37px 0 0 3px;
    transform:rotate(270deg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 8pt;
}

#timer {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #053146;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
}

#timer span {
  font-size: 60px;
  color: #053146;
  margin: 0 3px 0 15px;
}
#timer span:first-child {
  margin-left: 0;
}