    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .status {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
    .status p{
      margin: 0;
    }
    .correct{
      font-weight: bold;
      color: rgb(0, 130, 0);
    }
    .incorrect{
      font-weight: bold;
      color: rgb(130, 0, 0);
    }
    .question-container p{
      margin: 5px 0 5px 0;
      font-size: 1rem;
    }
    .question-container p:nth-child(1){
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
    .options-container {
      margin-top: 20px;
      font-size: 1.1rem;
    }

    button {
      margin-top: 20px;
      font-size: 1rem;
      font-weight: bold;
      border-style: none;
      color: #ffffff;
      background: #053146;
      cursor: pointer;
      padding: 12px 20px; 
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      min-width: 120px;
      max-width: 100%; 
      text-align: center;
    }

    button:disabled {
        background-color: #b3b3b3;
        color: #e0e0e0;
        cursor: not-allowed;
    }

